---
- assert: { that: "ansible_system_vendor == 'HP'" }

- name: Checking for connectx-3 device
  shell: "lspci |grep -i  ConnectX-3"
  register: ConnectX3_device
  changed_when: False
  check_mode: no
  ignore_errors: True

- name: Checking for connectx-4 device
  shell: "lspci |grep -i  ConnectX-4"
  register: ConnectX4_device
  changed_when: False
  check_mode: no
  ignore_errors: True

- name: Identifying firmware RPM for Mellanox Network Adapter for ConnectX-3 ethernet and infiniband
  shell: yum search mellanox eth-ib |grep -i vpi|awk '{print $1;exit}'
  register: fw_rpm
  changed_when: False
  ignore_errors: True
  check_mode: no
  when: ConnectX3_device.rc == 0

- name: running generic tasks for all firmware things for "{{fw_rpm}}"
  include_tasks: firmware_installer.yml
  with_items: "{{ fw_rpm.stdout_lines }}"
  ignore_errors: True
  when: fw_rpm.rc == 0 and ConnectX3_device.rc == 0

- name: Identifying firmware RPM for Mellanox Network Adapter for ConnectX-4 ethernet and infiniband
  shell:  yum search mellanox connectx4 |grep -i  vpi |awk '{print $1;exit}'
  register: fw_rpm
  changed_when: False
  ignore_errors: True
  check_mode: no
  when: ConnectX4_device.rc == 0

- name: running generic tasks for all firmware things for "{{fw_rpm}}"
  include_tasks: firmware_installer.yml
  with_items: "{{ fw_rpm.stdout_lines }}"
  ignore_errors: True
  when: fw_rpm.rc == 0 and ConnectX4_device.rc == 0
