---
- assert: { that: "ansible_system_vendor == 'HP'" }

- name: Use lspci to look for BroadCom NX2 devices
  shell: "lspci |grep -i  'NetXtreme II'"
  register: NX2_device
  changed_when: False
  check_mode: no
  ignore_errors: True

- name: Identifying firmware RPM for Qlogic NX2
  shell: "yum search firmware-nic-qlogic-nx2 | grep -i hpe |awk '{print $1;exit}'"
  register: fw_rpm
  changed_when: False
  ignore_errors: True
  check_mode: no
  when: NX2_device.rc == 0

- name: running generic tasks for all firmware things
  include_tasks: firmware_installer.yml
  with_items: "{{ fw_rpm.stdout_lines }}"
  when: fw_rpm.rc == 0 and NX2_device.rc == 0
